:root{
  --brand-color: #fc9700;
}

@font-face {
  font-family: CircularBlack;
  src: url("../css/fonts/CircularStd-Black.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CircularBold;
  src: url("../css/fonts/CircularStd-Bold.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CircularBook;
  src: url("../css/fonts/CircularStd-Book.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: CircularMedium;
  src: url("../css/fonts/CircularStd-Medium.otf");
  font-weight: normal;
  font-style: normal;
}

.min-heigth{
  max-width: 2000px;
  min-height: 100vh;
}

.max-heigth{
  max-width: 2000px;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
}

.font-title{
  font-family: CircularBlack!important;
  font-size: 1.75‬ rem;
}

.font-common{
  font-family: CircularBook;
  font-size: 1‬rem;
}

.font-help{
  font-family: CircularBook;
  font-size: 0.75rem;
  color: #6A6A6A;
}

.btn-brand{
  background-color: var(--brand-color);
  color: #fff!important;
}

.btn-habito {
  color: red;
  background-color: white;
  border: 2px solid red !important;
}
.btn-ghost{
  border: 2px solid var(--brand-color)!important;
  color: var(--brand-color);
}

.input-principal {
  color: #fc9700;
  border-radius: 20px;
}

/* input do botão */
.field-form {
  position: relative;
  width: 100%;
}
.field-form > .field {
  border: 1.5px solid #a2a2a2;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  padding-left: 15px;
  outline: none;
}
.field-form > .field:focus, .field-form > .field:valid {
  border: 1.5px solid #fc9700;
}
.field-form > .field:focus + .label, .field-form > .field:valid + .label {
  transform: translateY(-130%);
  margin-left: 14px;
  font-size: 14px;
  color: #fc9700;
  background-color: white;
  padding: 0 7px 0 7px;
}
.field-form > .label {
  position: absolute;
  bottom: 14px;
  left: 0%;
  padding: 0px 15px;
  font-size: 1rem;
  color: #a2a2a2;
  pointer-events: none;
  transition: all 0.3s ease;
}

.img-login{
  position: absolute;
  top: 155%;
  left: 0;
}

.img-register{
  position: absolute;
  top: 100%;
  left: 30%;
  transform: rotateY(-30deg);
}

.font-card-title{
  font-size: 1rem!important;
  font-family: CircularBlack !important;
}

.border-gray{
  border: 1px solid #C4C4C4!important;
}

.btn-md{
  width: 50%!important;
}

.bg-orange-light{
  background-color: #FDB64C;
  height: 60px;
  bottom: 0;
}

.height-max{
  height: 100%;
}

.icon{
  width: 40px;
  height: 40px;
}

.icon-color{
  color: white;
  font-size: 1.75rem;
}

.selected{
  background-color: #fc9700;
  border: 1px solid black;
  height: 100%;
}

.jao-caminhoneiro > .trucao{
  width: 60px;
  height: 60px;
}

.progress{
  width: 100%;
  height: 1.5rem!important;
  border: 1px solid black;
}

.jao-current{
  width: 100%;
}

.jao-current > .title{
  margin: 0;
  font-family: CircularBlack;
}

.card-habit{
  border: 1px solid #A1A1A1;
  width: 100%;
}

.card-habit-title{
  font-family: CircularBold;
  font-size: 1.125rem;
  margin: 0;
}

.card-body{
  flex: unset!important;
}

.card-habit-text{
  font-family: CircularBook;
  font-size: 0.8rem;
  color: #A1A1A1;
  margin: 0;
}

.day-of-week{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.day{
  font-size: 0.5rem;
}
.arrow-habits{
  width: 100%;
}
.arrow-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #fc9700;
  font-size: 1.5rem;
  color: #fc9700;
}

.list-group-item{
  font-family: CircularBook;
}

.circle-points{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #FC0000;
  text-align: center;
  font-family: CircularBlack;
  color: white;
}

.circle-points > .number{
  margin: 0;
}

.circle-points  .hours{
  color: #FEACAC;
  margin: 0;
}

.stop-points > .title{
  font-family: CircularBold;
  margin-bottom: 0;
}

.stop-points > .act{
  font-family: CircularBook;
  font-size: 0.75rem;
  color: #A2A2A2;
  height: 20px;
  margin: 0;
}

.stop-points > .bold-text{
  height: 10px;
}

.gren-point{
  font-size: 1.5rem;
  color: #2EEF5B;
  height: 10px;
}

.btn-journey.cancel{
  width: 45%;
  border: 2px solid #FC0000;
  color: #FC0000;
}

.btn-journey.init{
  width: 45%;
  color: white;
  background-color: #3E8BDB;
}

.trophy-quanty{
  display: flex;
}

.trophy-quanty > i{
  font-size: 1.8rem;
  color: #FCD200;
}

.trophy-quanty > .numbers{
  font-size: 1.125rem;
  font-family: CircularBlack;
  padding-left: 5px;
}

.img-emblema{
  width: 60px;
  height: 60px;
}

.emblema-title{
  font-size: 12px;
  font-family: CircularBlack;
}

.card-emblema{
  border-bottom: 1px solid #CCCCCC;
}

.card-emblema-text{
  font-size: 12px;
}